<h1> 제품 추가 페이지 </h1>

<%= form_tag '/product/' + @product.id.to_s + '/create_option', multipart: true do %>
  제품 이름 <%= text_field_tag 'name', '' , placeholder: '제품 이름', :required => true %><hr>
  제품 설명   <%= text_area_tag 'content', '', placeholder: '제품 설명 적는 칸', rows: 30, cols: 40%><hr>
  제품 메인 이미지 <%= file_field_tag 'image0', :required => true%> <hr>
  제품 상세 설명 이미지 <%= file_field_tag 'image1', :required => true%> <hr>
  가격 <%= text_field_tag 'price', '', placeholder: '금액', :required => true%> <hr>
  남은 수량 <%= text_field_tag 'remain_count' ,'' ,:required => true %>
<hr><%= submit_tag '추가 완료' %>
<%end %>