<section class="sign_up mb-5 text-center">
  <h2 class="font-18 my-4">회원정보 수정</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "이메일" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-3">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "현재 비밀번호" %>
    </div>

    <div class="field mb-3">
      <%= f.password_field :password, autocomplete: "off", placeholder: "새 비밀번호(6자리 이상)" %>
    </div>

    <div class="field mb-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "비밀번호 확인" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "수정 완료", class: "btn-login text-white font-14" %>
    </div>
  <% end %>

  <%= link_to "계정 삭제", registration_path(resource_name), data: { confirm: "정말 삭제하시겠습니까?" }, method: :delete, class: "font-14" %>
  <span>| </span><%= link_to "돌아가기", :back, class: "font-14" %>
</section>
