<section class="sign">
  <h3 class="sign_up_text">회원가입하기</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "이메일 주소" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "비밀번호(6자리이상)" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "비밀번호 확인" %>
    </div>
    <!-- <div class="form-group">
      <%= f.text_field :real_name, class: 'form-control', placeholder: "이름(실명)" %>
    </div> -->
    <div class="form-group">
      <%= f.text_field :phone_number, class: 'form-control', placeholder: "휴대폰 번호"%>
    </div>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: "닉네임" %>
    </div>
    <div class="custom-control custom-checkbox ">
      <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
      <label class="custom-control-label" for="customControlAutosizing">이용약관 및 개인정보 수집 및 이용 에 동의합니다. </label>
    </div>
    <%= f.submit "회원가입", class: "btn btn-primary sign_up_btn" %>
  <% end %>
</section>
