<!-- Tissue Cover -->
<section class="tissue_cover">
  <div class="brand pl-4 pt-4 visible-lg">
    <a class="navbar-brand py-0 mr-0" href="/">
      <%=image_tag("/assets/images/tojung_green.png", class:"logo")%>
    </a>
  </div>
</section>
<!-- //Tissue Cover -->

<!-- Tissue Complete -->
<section class="tissue_complete">
  <div class="order_info d-flex justify-content-between">
    <% if @result["note"] != nil %>
     <p>나는 투표했다 노트 <%= @result["note"]["num"] %>개 </p>
     <p><%= @result["note"]["prices"]%>원</p>
    <% end %>
  </div>
  <div class="order_info d-flex justify-content-between">
    <% if @result["tissue"] != nil %>
      <p>잘 뽑았는가 휴지 <%= @result["tissue"]["num"] %>개</p>
      <p><%= @result["tissue"]["prices"]%>원</p>
    <% end %>
  </div>
  <div class="order_info d-flex justify-content-between">
    <% if @result["file"] != nil %>
      <p>파일 <%= @result["file"]["num"] %>개</p>
      <p><%= @result["file"]["prices"]%>원</p>
    <% end %>
  </div>
  <div class="order_info d-flex justify-content-between">
    <p>배송비</p>
    <p>3000원</p>
  </div>
  <div class="order_info my-4 d-flex justify-content-between">
    <p>TOTAL</p>
    <p><%= @orderlog.total_price + 3000 %></p>
  </div>
  <div class="order_message font-18 font-sm-12 my--5 text-center">
    <p>주문이 완료되었습니다!</p>
    <p>계좌번호 기업은행 038-143868-01-014(예금주: (주)투정)으로 입금해주시면</p>
    <p>하루 안에 주문확인 문자를 드립니다.</p>
  </div>
</section>
<!-- //Tissue Complete  -->
