<!-- Tissue Cover -->
<section class="tissue_cover">
  <div class="brand pl-4 pt-4 visible-lg">
    <a class="navbar-brand py-0 mr-0" href="/">
      <%=image_tag("/images/tojung_green.png", class:"logo")%>
    </a>
  </div>
</section>
<!-- //Tissue Cover -->

<!-- Tissue Content -->
<section class="tissue_content">
  <button type="submit" class="btn btn-buy btn-white font-sm-12"><a class="font-grey underbar-none" href="/shop/buy"> 지금 바로 구매하기</a></button>
  <h4 class="font-18 font-sm-12 font-weight-bold text-center">우리 투표, 잘하고 있나요?</h4>
  <%=image_tag("/images/voting_img1.jpg", class:"w-100 my-4")%>
    <p class="font-14 font-sm-10">
      대통령 선거의 투표율은 꾸준히 성장해왔고, 특히 지난 17년 선거에선 20년만에 최고 투표율 77.2%를 기록했습니다. 또, 주목할만한 점은 특히 2030세대들의 투표율이 두드러지게 성장해 60대이상과 큰 차이가 나지 않았다는 것이었습니다.
    </p>
    <p class="font-14 font-sm-10">
      그렇다면 지방선거, 보궐선거의 투표율은 어떨까요?
지방선거와 보궐선거의 투표율은 항상 대통령선거에 비해 매우 저조해서 50%대밖에 되지 않았습니다.
특히나 더 큰 문제는 지방선거와 보궐선거에서는 청년층과 노년층 사이의 투표율이 무려 20%나 차이가 납니다.
    </p>
    <p class="font-14 font-sm-10">
      이러니까 당연히 국회의원과 정치인들이 노년층을 대상으로 투표 표심 잡기에 열을 올릴수밖에 없겠죠?
우리 주변의 사람들 2명중 1명밖에 하지 않는 투표, 경각심을 가지고 지난 대통령선거처럼 크게 참여율을 높여야 하지 않을까요?
    </p>
    <p class="font-18 font-sm-12 font-weight-bold">
      그래서 저희는, 매일 눈에 걸려서 나도 모르게 투표를 다짐하게 되고!
주변인들도 보다보니 찔려서 투표에 가담하게 하는, 생활밀착형 투표독려 굿즈를 제작하게 되었습니다.
    </p>
  <%=image_tag("/images/voting_img2.jpg", class:"w-100 my-4")%>
  <h4 class="font-18 font-sm-12 font-weight-bold mb-3 my-lg-4">
    '나는 투표했다' 굿즈 사용법
  </h4>
  <p class="font-18 font-sm-12 my-2 my-lg-3">
    1. 내 자리에 ‘나는 투표했다 / 잘 뽑았는가?’굿즈를 잘 보이게 올려놔주세요!
  </p>
  <p class="font-18 font-sm-12 my-2 my-lg-3">
    2. 매일매일 보면서, 6.13.투표날 꼭 투표를 해 나의 권리를 행사 하겠다는 다짐을 해주세요!
  </p>
  <p class="font-18 font-sm-12 my-2 my-lg-3">
    3. 주변인들이 ‘이게 뭐야?’라고 물어보면 꼭 취지를 설명해주면서 투표 동참을 이끌어내주세요!
  </p>
  <button type="submit" class="btn btn-buy btn-white font-sm-12"><a class="font-grey underbar-none" href="/shop/buy"> 지금 바로 구매하기</a></button>
  <%=image_tag("/images/voting_img3.jpg", class:"w-100 my-4")%>
  <h4 class="font-18 font-sm-12 font-weight-bold my-2 my-lg-3">
    굿즈 소개
  </h4>
  <p class="font-14 font-sm-10">
    * 아래의 모든 굿즈는, 디자인 시안으로 실제 인쇄본은 약간의 차이가 있을 수 있습니다!
    샘플이 나오는대로 실사를 첨부해드리겠습니다!
  </p>
  <%=image_tag("/images/voting_img4.jpg", class:"w-100 mb-4 my-lg-3")%>
  <p class="font-14 font-sm-10 mt-0 mt-lg-4">
    이왕이면, 실용적으로 사용할 수 있으면서, 일상생활에서 많은 사람들의 눈에 노출도 잘 되는 용품으로 제작했습니다!
  </p>
  <p class="font-14 font-sm-10 mb-1 font-weight-bold">
    상품1. ‘나는 투표했다’ 노트 - 3,000원
  </p>
  <p class="font-14 font-sm-10">
    노트는 제작업체 20군데 넘게 견적을 알아보며, 좋은 품질로 인쇄될 수 있도록 노력을 기울였습니다! 노트의 매수는 64페이지, 종이는 80g모조지, 노트의 사이즈는 A5입니다!
  </p>
  <p class="font-14 font-sm-10 mb-1 font-weight-bold">
    상품2. ‘잘 뽑았는가?’ 휴지 - 1,000원
  </p>
  <p class="font-14 font-sm-10">
    내가 원하는 사람을 잘 ‘뽑았는지’ 재치있게 표현하고자, 곽휴지라는 아이템을 골랐습니다!
휴지를 한 장씩 뽑을 때마다, 스스로 투표참여를 다짐하세요! 누군가 귀여운 디자인을 보며 물어본다면 그 의미를 설명해주세요!
  </p>
  <p class="font-14 font-sm-10 mb-1 font-weight-bold">
    상품3. ‘투표는 잘 하셨는가?’ PP파일  - 1000원
  </p>
  <p class="font-14 font-sm-10">
    PP파일은 선거 이후에도, ‘나는 내 권리를 지키기위해 투표에 참여한 멋진 시민이다!!’를 자랑스럽게 표현할 수 있도록 자신감 넘치는 문구를 적었습니다~!
  </p>
  <button type="submit" class="btn btn-buy btn-white font-sm-12"><a class="font-grey underbar-none" href="/shop/buy"> 지금 바로 구매하기</a></button>
</section>
<!-- //Tissue Content  -->
