<% if @status == '결제완료' or @payment_method == '무통장입금'%>
<div class="order-complete">
  <div class="package-selected-wrapper bg-white mb-3 mx-0 px-3 py-3">
    <div class="package-selected d-flex">
      <%=image_tag(@product.image0, class: "order-img")%>
      <div class="package-info pl-3">
        <h4 class="font-14 font-weight-bold"><%= @product.name %></h4>
        <p class="font-grey font-14 mb-0"><%= @package.name %></p>
        <p class="font-grey font-14 package-info"><%= @package.content %></p>
        <!-- css 적용 필요 -->
      </div>
    </div>
    <p class="font-14 font-weight-bold order-money border-bottom-none text-right mb-2"><%= params[:total_price] %>
      <span class="order-money-won">원</span></p>
  </div>

  <section class="complete-message-wrapper px-3 py-3">
    <div class="complete-message d-flex align-items-center">
      <h4 class="complete-number ml-2 mr-4 mb-0">1</h4>
      <p class="mb-0 font-14"><%= @product.bill_name %>의 심사 진행 소식을 계속 듣고 싶다면? 카카오톡 플러스친구로 추가해주세요.</p>
    </div>
    <a class="d-block font-14 text-right mt-1 mb-5">> 추가하러가기</a>
    <div class="complete-message d-flex align-items-center mb-5">
      <h4 class="complete-number ml-2 mr-4 mb-0">2</h4>
      <p class="mb-0 font-14">투정의 더 많은 컨텐츠가 궁금하다면? 투정 SNS를 확인해보세요.</p>
    </div>
    <div class="d-flex sns-img-wrapper justify-content-center mb-5">
      <a href="https://www.facebook.com/tojung.me/" class="d-block"><%=image_tag("fb-page.png", class: "sns-img")%></a>
      <a href="https://www.instagram.com/tojung.official/" class="d-block"><%=image_tag("insta-page.png", class: "sns-img")%></a>
      <a href="https://www.youtube.com/channel/UCWow8a8gmEhpyUjksjJLHxw" class="d-block"><%=image_tag("youtube-page.png", class: "sns-img")%></a>
      <a href="https://post.naver.com/my.nhn?memberNo=4944321" class="d-block"><%=image_tag("naver-page.png", class: "sns-img")%></a>
      <a href="" class="d-block"><%=image_tag("kakao-page.png", class: "sns-img")%></a>
    </div>
    <div class="complete-message d-flex align-items-center">
      <h4 class="complete-number ml-2 mr-4 mb-0">3</h4>
      <p class="mb-0 font-14">국회 청원이 총 <%= @product.maker_responses.count %>명의 의원에게 성공적으로 보내졌습니다. 의원들의 답변 현황이 궁금하다면 ?</p>
    </div>
    <a class="d-block font-14 text-right mt-1 mb-5">> 확인하러가기</a>
  </section>
</div>
<% else %>
  결제 실패 하였습니다
<% end %>