<!-- MD's Contents -->
<section class="contents loaded">
  <h4 class="d-inline-block content-heading font-18" lang="en">MD's CONTENTS</h4>
  <%=image_tag(@cdn_url+"shape.png", class: "shape")%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 px-0 pb-3">
        <a class="d-block" href="<%= @md_link0 %>">
          <%=image_tag(@mainimage3, class: "w-100")%>
        </a>
      </div>
      <div class="col-12 col-lg-6 px-0 pb-3">
        <a class="d-block" href="<%= @md_link1 %>">
          <%=image_tag(@mainimage4, class: "w-100")%>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- // MD's Contents -->