<!-- MD's Contents -->
<section class="contents loaded">

  <h4 class="d-inline-block content-heading font-18" lang="en">MD's CONTENTS</h4>

  <% if !@main_bill.nil? %>
    <%=image_tag(@cdn_url+"shape.png", class: "shape")%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-6 px-0 pb-3 md-box">
          <a class="d-block" href="/best/<%= @main_bill.id %>"> <!-- 링크 -->
            <!-- 이미지 --><div class="md-img" style="background-image: url(<%=@main_bill.image_0%>);">
            <div class="hr-line"></div>
            <div class="vr-line-box mt-3 d-flex justify-content-between">
              <div class="vr-line left"></div>
              <!--카테고리--><p class="font-14 md-category font-weight-bold font-dark"><%= @main_bill.category %></p>
              <div class="vr-line right"></div>
            </div>
            <!-- 제목--><p class="font-36 md-title font-weight-bold font-dark"><%= @main_bill.title %></p>
          </div>
          </a>
        </div>
      </div>
    </div>
  <% end %>

  <%=image_tag(@cdn_url+"shape.png", class: "shape")%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6 px-0 pb-3 md-box">
        <a class="d-block" href="<%= @md_link0 %>"> <!-- 링크 -->
          <!-- 이미지 --><div class="md-img" style="background-image: url(<%=@mainimage3%>);">
          <div class="hr-line"></div>
          <div class="vr-line-box mt-3 d-flex justify-content-between">
            <div class="vr-line left"></div>
            <!--카테고리--><p class="font-14 md-category font-weight-bold font-dark">인권/성평등</p>
            <div class="vr-line right"></div>
          </div>
          <!-- 제목--><p class="font-36 md-title font-weight-bold font-dark">!!!D!!N!!A확보된 성범죄에 대한 공소시효 폐지!!!! </p>
        </div>
        </a>
      </div>
    </div>
  </div>

  <% @bills.each do |bill| %>
    <div class="container-fluid">
      <div class="row">
        <!-- each do start-->
        <div class="col-12 col-lg-4 col-md-6 px-0 pb-3">
          <a class="d-block" href="/best/<%= bill.id %>"> <!-- 링크 -->
            <!-- 이미지2--> <%=image_tag(bill.image_0, class: "w-100")%>
          </a>
          <div class="best-info px-3 py-3">
            <!--제목--><p class="font-18 font-dark mb-1"><%= bill.title %></p>
            <!--계류, 의원 정보--><p class="font-14 font-dark mb-0"><%= bill.footchair_name %>의원의 법안</p>
          </div>
        </div>
        <!-- each do end-->
      </div>
    </div>
  <% end %>



</section>
<!-- // MD's Contents -->