<!-- 네이밍좀.................... x........ ........... -->
<!-- 반복문 여러개로 중복 시킨 부분들 개선 바람..
맨 위 반복문만 수정사항 반영함. -->
<!-- Product Thumbnail -->
<div class="scrolling-wrapper center height-auto" id="all">
  <!-- Product card -->
  <% @products.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white"><p class=""><%=product.category%></p></div>
        <%=image_tag(@cdn_url + product.image0.path, class: "pro-thumbimg") if product.image0.path != nil%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold"><%= product.funded_money / product.goal_money %> %</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days"> <%= -1*(( Time.now - product.end_date) / 1.days).to_i %>일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="A">
  <!-- Product card -->
  <% if @products_A.empty?%>
  <h3 class="text-center">상품이 준비중입니다.</h3>
  <% end %>
  <% @products_A.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->

<div class="scrolling-wrapper center" id="B">
  <!-- Product card -->
  <%if @products_B.empty?%>
  <h4 class="text-center">상품 준비중입니다.</h4>
  <%end%>
  <% @products_B.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="C">
  <!-- Product card -->
  <%if @products_C.empty?%>
  <h4 class="text-center">상품 준비중입니다.</h4>
  <%end%>
  <% @products_C.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="D">
  <!-- Product card -->
  <%if @products_D.empty?%>
  <h4 class="text-center">상품 준비중입니다.</h4>
  <%end%>
  <% @products_D.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="E">
  <!-- Product card -->
  <%if @products_E.empty?%>
  <h4 class="text-center">상품 준비중입니다.</h4>
  <%end%>
  <% @products_E.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="F">
  <!-- Product card -->
  <%if @products_F.empty?%>
  <h4 class="text-center">상품 준비중입니다.</h4>
  <%end%>
  <% @products_F.each do |product|%>
    <div class="card">
      <a href="/product/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white text-center"><p><%=product.category%></p></div>
        <%=image_tag(product.image0, class: "pro-thumbimg")%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold">980%</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days">3일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->
<script>
$(document).ready(function () {
  $('.center').not('.slick-initialized').slick({
  arrows: false,
  centerPadding: '10px',
  slidesToShow: 4,
  slidesToScroll: 2,
  variableWidth: true,
  touchMove: true,
  draggable: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
  })
});

</script>

<script>
  function find_cate(){
    $(document).ready(function () {
      $('.scrolling-wrapper').filter(".height-auto");
    });
  }
  function cate_change(item){
    $(document).ready(function () {
      $('.scrolling-wrapper').filter('.height-auto').removeClass("height-auto").addClass("height-none");

      var y = $(item).html();
      $('.category-keyword').filter('.cate-red').removeClass("cate-red");
      $(item).addClass("cate-red");
      if (y == '인권/성평등'){
        $('#A').removeClass("height-none").addClass("height-auto");
      }
      else if (y == '동물'){
        $('#B').removeClass("height-none").addClass("height-auto");
      }
      else if (y == '육아/교육'){
        $('#C').removeClass("height-none").addClass("height-auto");
      }
      else if (y == '안전/환경'){
        $('#D').removeClass("height-none").addClass("height-auto");
      }
      else if (y == '보건/복지'){
        $('#E').removeClass("height-none").addClass("height-auto");
      }
      else if (y == '외교/통일/국방'){
        $('#F').removeClass("height-none").addClass("height-auto");
      }
      else {
        $('#all').removeClass("height-none").addClass("height-auto");
      }
    });
  }
</script>
