<% if @num %>
  <p style="display: none" class="category_flag">true</p>
<% end %>
<!-- Cover -->
<section class="cover loaded">

  <%= render 'notice' %> <!-- 팝업 partial -->

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators mb-1">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <a href="/home/brand">
          <video playsinline autoplay loop muted class="d-block cover_img" >
            <source src="<%= @mainimage0 %>" type="video/mp4">
          </video>
          <pre class="cover_text text-1">
법안 배송받기를 클릭하면
국회에 심사촉구청원이
보내집니다</pre>
        </a>
      </div>
      <div class="carousel-item active">
        <a href="/home/brand">
          <video playsinline autoplay loop muted class="d-block cover_img" preload="auto">
            <source src="<%= @mainimage1 %>" type="video/mp4">
          </video>
          <pre class="cover_text text-2">
내 삶을 바꾸는
법안쇼핑몰</pre>
        </a>
      </div>
      <div class="carousel-item">
        <a href="/home/brand">
          <video playsinline autoplay loop muted class="d-block cover_img ml-0">
            <source src="<%= @mainimage2 %>" type="video/mp4">
          </video>
          <pre class="cover_text text-3">
참여를 인증하는
예쁜 굿즈를 받고,
내 문제를 공론화하는
지하철광고를 실어보아요</pre>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- //Cover -->
<div class="wrapper mt-0 loaded">
<!-- Category -->
<ul class="category-list d-flex flex-wrap justify-content-center mb-0" id="categoryList">
  <a href="/categorize/7" data-remote="true" class="category-keyword cate-red" onclick="cate_change(this);">HOT</a>
  <a href="/categorize/8" data-remote="true" class="category-keyword" onclick="cate_change(this);">NEW</a>
  <a href="/categorize/1" data-remote="true" class="category-keyword" onclick="cate_change(this);">인권/성평등</a>
  <a href="/categorize/2" data-remote="true" class="category-keyword" onclick="cate_change(this);">동물</a>
  <a href="/categorize/3" data-remote="true" class="category-keyword" onclick="cate_change(this);">육아/교육</a>
  <a href="/categorize/4" data-remote="true" class="category-keyword" onclick="cate_change(this);">안전/환경</a>
  <a href="/categorize/5" data-remote="true" class="category-keyword" onclick="cate_change(this);">보건/복지</a>
  <a href="/categorize/6" data-remote="true" class="category-keyword" onclick="cate_change(this);">외교/통일/국방</a>
</ul>
<!-- // Category -->
<!-- Category Tag -->
<div class="pro-tag text-white"><p id="category-tag">HOT</p></div>
<!-- Category tag -->
  <%= render 'thumb'%>

  <%#= render 'md_contents' %> <!-- 베도 md contents partial.  -->

  <%=  render 'md_contents_old' %> <!-- 기존 md contents -->

  <%=render 'bottom_bar'%>
</div>
