<!-- Cover -->
<section class="cover">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators mb-1">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <%=image_tag(@mainimage0, class: "d-block cover_img")%>
        <pre class="cover_text text-1">
법안 배송받기를 클릭하면
국회에 심사촉구청원이
보내집니다</pre>
      </div>
      <div class="carousel-item active">
        <%=image_tag(@mainimage1, class: "d-block cover_img")%>
        <pre class="cover_text text-2">
내 삶을 바꾸는
법안쇼핑몰</pre>
      </div>
      <div class="carousel-item">
        <%=image_tag(@mainimage2, class: "d-block cover_img ml-0")%>
        <pre class="cover_text text-3">
참여를 인증하는
예쁜 굿즈를 받고,
내 문제를 공론화하는
지하철광고를 실어보아요</pre>
      </div>
    </div>
  </div>
</section>
<!-- //Cover -->
<div class="wrapper mt-0">
<!-- Category -->
<ul class="category-list d-flex flex-wrap justify-content-center mb-0">
  <a href="/categorize/7" data-remote="true" class="category-keyword" onclick="cate_change(this);">HOT</a>
  <a href="/categorize/8" data-remote="true" class="category-keyword" onclick="cate_change(this);">NEW</a>
  <a href="/categorize/1" data-remote="true" class="category-keyword" onclick="cate_change(this);">인권/성평등</a>
  <a href="/categorize/2" data-remote="true" class="category-keyword" onclick="cate_change(this);">동물</a>
  <a href="/categorize/3" data-remote="true" class="category-keyword" onclick="cate_change(this);">육아/교육</a>
  <a href="/categorize/4" data-remote="true" class="category-keyword" onclick="cate_change(this);">안전/환경</a>
  <a href="/categorize/5" data-remote="true" class="category-keyword" onclick="cate_change(this);">보건/복지</a>
  <a href="/categorize/6" data-remote="true" class="category-keyword" onclick="cate_change(this);">외교/통일/국방</a>
</ul>
<!-- // Category -->
<div class="pro-tag text-white"><p id="category-tag">HOT</p></div>

<%=render 'thumb'%>
<!-- MD's Contents -->
<section class="contents">
  <h4 class="d-inline-block content-heading font-18" lang="en">MD's CONTENTS</h4>
  <%=image_tag(@cdn_url+"shape.png", class: "shape")%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 px-0 pb-3">
       <a class="d-block" href="<%= @md_link0 %>">
        <%=image_tag(@mainimage3, class: "w-100")%>
       </a>
      </div>
      <div class="col-12 col-lg-6 px-0 pb-3">
      <a class="d-block" href="<%= @md_link0 %>">
        <%=image_tag(@mainimage4, class: "w-100")%>
      </a>
      </div>
    </div>
  </div>
</section>
<!-- // MD's Contents -->

<%=render 'bottom_bar'%>
</div>
<script>
  $(document).ready(function(){
    $('.cover').unwrap();
  });
</script>
