<!-- Cover -->
<section class="cover">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%=image_tag(@mainimage0, class: "d-block w-100 cover_img")%>
      </div>
      <div class="carousel-item">
        <%=image_tag(@mainimage1, class: "d-block w-100 cover_img")%>
      </div>
      <div class="carousel-item">
        <%=image_tag(@mainimage2, class: "d-block w-100 cover_img")%>
      </div>
    </div>
  </div>
</section>
<!-- //Cover -->
<% if @is_admin %>
<div style="background-color: #DADADA">
    <hr>
    <p> ** 관리자만 보임 ** </p>
    <strong> <a href="/mainimage/new">메인이미지 수정 하기 페이지로 이동하기</a></strong>
</div>
<% end %>

<!-- Category -->
<ul class="category-list d-flex flex-wrap justify-content-center mb-0">
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">HOT</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">NEW</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">인권/성평등</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">동물</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">육아/교육</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">안전/환경</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">보건/복지</a>
  <a href="javascript:void(0);" class="category-keyword" onclick="cate_change(this);">외교/통일/국방</a>
</ul>
<!-- // Category -->
<%=render 'thumb'%>
<!-- MD's Contents -->
<section class="contents">
  <h4 class="d-inline-block content-heading font-18" lang="en">MD's CONTENTS</h4>
  <%=image_tag(@cdn_url+"shape.png", class: "shape")%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 px-0 pb-3">
        <%=image_tag("jaekyung.png", class: "w-100")%>
      </div>
      <div class="col-12 col-lg-6 px-0 pb-3">
        <%=image_tag(@cdn_url+"doohee.png", class: "w-100")%>
      </div>
    </div>
  </div>
</section>
<!-- // MD's Contents -->

<%=render 'bottom_bar'%>
<!-- 관리자 뷰 -->
<% if @is_admin %>
<div style="background-color: cornflowerblue">

  <p> ** 관리자만 보임 **</p>
  <strong><a href="/product/new">상품 생성 하기 페이지로 이동하기</a></strong>
</div>
<% end %>

<% if @is_admin %>
<!-- Product Thumbnail -->
<h1> 비공개 표시 상품들 </h1>
<div class="scrolling-wrapper center height-auto" id="all">
  <!-- Product card -->
  <% @products_unvisible.each do |product| %>
    <div class="card">
      <a href="/product/ready/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white"><p class=""><%=product.category%></p></div>
        <%=image_tag(@cdn_url + product.image0.path, class: "pro-thumbimg") if product.image0.path != nil%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold"><%= product.funded_money / product.goal_money %> %</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days"> <%= -1*(( Time.now - product.end_date) / 1.days).to_i %>일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->

<!-- Product Thumbnail -->
<h1> 공개 표시 상품들 </h1>
<div class="scrolling-wrapper center height-auto" id="all">
  <!-- Product card -->
  <% @products.each do |product| %>
    <div class="card">
      <a href="/product/ready/<%=product.id%>" class="d-block h-100">
        <div class="pro-tag text-white"><p class=""><%=product.category%></p></div>
        <%=image_tag(@cdn_url + product.image0.path, class: "pro-thumbimg") if product.image0.path != nil%>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title text-black font-weight-bold mb-0"><%=product.name%></h5>
            <span class="font-red font-weight-bold"><%= product.funded_money / product.goal_money %> %</span>
          </div>
          <p class="card-text mb-2"><%=product.subname%></p>
          <div class="d-flex font-12 justify-content-between">
            <span class="funding-money"><%=product.funded_money%>원</span>
            <span class="funding-days"> <%= -1*(( Time.now - product.end_date) / 1.days).to_i %>일 남음</span>
          </div>
        </div>
      </a>
    </div>
  <%end%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->
<% end %>

<!-- 관리자 뷰 -->
