
<!-- Cover -->
<section class="cover">
    <video playsinline autoplay loop muted class="cover_vid" id="video_cover" onclick="playVideo(this);">
      <source src="../video.mp4" type="video/mp4">
    </video>
  <div class="brand pl-4 pt-4 visible-lg">
    <a class="navbar-brand py-0 mr-0" href="/">
      <%=image_tag( asset_path("tojung_white.png"), class:"logo")%>
    </a>
  </div>
  <div class="arrow visible-lg">
    <%=image_tag("/images/arrow.png", class:"arrow_img")%>
  </div>

</section>
<!-- //Cover -->

<!-- New -->
<section class="new">
  <h2 class="sr-only">제안하기</h2>
  <div class="container mx-0">
    <div class="row">
      <div class="col-2 col-lg-2 new_logo px-1 py-3 px-lg-5 py-lg-5">
        <%=image_tag("/images/shape.png", class: "mic_icon d-block mx-auto")%>
      </div>
      <div class="col-9 col-lg-9 new_textbox px-0 ml-lg-3">
        <p id="mention" class="new_text font-20 font-sm-10"></p>
      </div>
    </div>
  </div>
<!--  <a href="https://tumblbug.com/voting" class="d-block">-->
<!--   <a href="/shop" class="d-block">
  <%#image_tag("/images/banner.png", class: "w-100")%>
  </a> -->
</section>

<!-- List -->
<section class="funding_list">
  <div class="container">
    <div class="row">
			<% @proposes.each do |propose| %>
				<div class="col-sm-12 col-md-6 col-lg-6 px-0 funding_card_box" style="background-image: url(<% if propose.image.url != nil %><%= propose.image.url %> <% else %> <%= propose.default_image %> <% end%>)">
	        <div class="funding_card d-flex flex-column h-100 w-100">
	          <a href="/propose/<%= propose.id %>" class="h-100">
              <h4 class="funding_title text-white mb-0"><%= propose.title %></h4>
	            <div class="funding_card_info">
                <p class="funding_num text-white text-right"><span class="funding_nums text-white"><% if propose.send_count != nil and propose.subscribe_count != nil%><%= propose.funded_num + propose.send_count + propose.subscribe_count %><%else%>0<% end %></span>명</p>
	              <p class="funding_money text-white text-right">&#8361;<%= propose.funded_money%></p>
	            </div>
	          </a>
	        </div>
	      </div>
			<% end %>
    </div>
  </div>
</section>
<!--//List  -->

<!-- typewriter js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var app = document.getElementById('mention');

    var typewriter = new Typewriter(app, {
        loop: true
    });

    typewriter.typeString('겪고 있는 문제가 있나요?\n')
      .pauseFor(1000)
      .typeString('투정으로 끝나지 않게, 해결책이 될 법안을 찾아줄게요.')
      .pauseFor(2500)
      .start();
  });
</script>
<!-- //TypeWriter -->
<!-- 원화 콤마찍기 -->
<script type="text/javascript">
  function comma(str) {
      str = String(str);
      return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
  }
  var i = 0
  while( i< $(".funding_money").length){
    var money=$(".funding_money")[i].innerHTML;
    var newMoney=comma(money);
    $(".funding_money")[i].innerHTML=newMoney;
    i+=1;
  }
</script>
<script type="text/javascript">
  function playVideo(x){
    x.play();
  }
</script>
<!-- //원화 콤마찍기 -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- typewriter js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
