<div class="subscribe px-4 py-3">

    <div class="newsletter-img my-2 mb-4">
        <%=image_tag("newsletter-banner.png", width: "100%", class: "d-block mx-auto")%>
    </div>
    <section class="newsletter-text">
    <pre class="font-14">
투정은 우리 삶의 문제를 해결해줄 수많은 국회의 입법안이 
심사 지연되고 있다는 사실을 쉽고 재밌게 알려주는 곳이에요!</pre>
    <pre class="font-14">
뉴스레터를 구독하시면 한 달에 한 번 이메일로, 
1) 요즘 핫한 문제들을 해결할 수 있지만 
지금껏 국회에서 외면 받고 있는 법안이 무엇인지, 
2) 투정이 그동안 진행했던 캠페인 이후 
추가 법안 심사 소식이 있는지를  받아 보실 수 있습니다.</pre>
    </section>
    <section class="newsletter-apply font-14 py-4">
        <h4 class="font-18 font-weight-bold pb-2 border-bottom-black">뉴스레터 신청하기</h4>
        <div class="form-group row py-2 mb-0 mx-0">
            <label for="user_name" class="col-4 px-0 col-form-label">구독자명</label>
            <div class="col-8 px-0">
                <% if current_user != nil %>
                <%= text_field_tag 'name', current_user.name, placeholder: '이름을 입력해 주세요.', class: 'form-control px-0 bg-base', onkeydown: "if (event.keyCode == 13) { return false;}" %>
                <% else %>
                <%= text_field_tag 'name', '', placeholder: '이름을 입력해 주세요.', class: 'form-control px-0 bg-base', onkeydown: "if (event.keyCode == 13) { return false;}" %>
                <% end %>
            </div>
        </div>
        <div class="form-group row py-2 mb-0 mx-0">
            <label for="user_email" class="col-4 px-0 col-form-label">이메일 주소</label>
            <div class="col-8 px-0">
                <!--        <input type="email" class="form-control px-0" id="user_email" placeholder="이메일 주소를 입력해 주세요.">-->
                <% if current_user != nil %>
                <input type="email" name="email" placeholder="이메일 주소를 입력해 주세요." value="<%= current_user.email %>" class="form-control px-0 bg-base" onkeydown="if (event.keyCode == 13) { return false;}" required>
                <% else  %>
                <input type="email" name="email" placeholder="이메일 주소를 입력해 주세요." value="" class="form-control px-0 bg-base" onkeydown="if (event.keyCode == 13) { return false;}" required>
                <% end %>
            </div>
        </div>
        <button type="button" class="btn-subscribe text-white text-center my-4">구독하기</button>
    </section>

    <section class="newsletter-overlook">
        <h4 class="font-18 font-weight-bold pb-2 border-bottom-black mb-3">뉴스레터 엿보기</h4>
        <%=image_tag("newsletter-overlook.png", width: "100%", class: "d-block mx-auto")%>
    </section>

</div>