<!-- Bottom bar -->
<div class="overlay2"></div>
<nav class="navbar bottom-bar py-2 fixed-bottom align-items-center text-center visible-xs-flex">
  <a class="d-block buy-button pay-link font-14 ml-4 text-white" id="packageBarCollapse" onclick="packagebar_click();">
    내 인생으로 배송받기
  </a>
  <% if @like == nil %>
  <%= form_tag '/product_like', class: "ml-5 text-white" do %>
    <%= hidden_field_tag 'product_id', @product.id%>
    <button class="heart-mobile"><%=image_tag(@cdn_url+"heart.svg")%></button>
  <% end %>
  <% elsif @like.empty? %>
  <%= form_tag '/product_like', class: "ml-5 text-white" do %>
    <%= hidden_field_tag 'product_id', @product.id%>
    <button class="heart-mobile"><%=image_tag(@cdn_url+"heart.svg")%></button>
  <% end %>
  <% elsif @like[0].status == true  %>
  <%= form_tag "/product_like/#{ @like[0].id }", class: "ml-5 text-white", method: 'put' do %>
    <%= hidden_field_tag 'product_id', @product.id%>
    <button class="heart-mobile"><%=image_tag("heart-red.svg")%></button>
  <% end %>
  <% elsif @like[0].status == false %>
  <%= form_tag "/product_like/#{ @like[0].id }", class: "ml-5 text-white", method: 'put' do %>
    <%= hidden_field_tag 'product_id', @product.id%>
    <button class="heart-mobile"><%=image_tag(@cdn_url+"heart.svg")%></button>
  <% end %>
  <%end%>
  <!-- <a href="/" class="d-block ml-5 text-white">
    <%=image_tag(@cdn_url+"heart.svg")%>
  </a> -->
  <button class="button-none buy-button text-white" id="shareBarCollapse" onclick="sharebar_click();">
    <%=image_tag(@cdn_url+"link.svg")%>
  </button>
</nav>
<%=render 'package'%>
<%=render 'share'%>
<!-- // Bottom bar -->

<script>
  // Unwrap
  $(document).ready(function(){
    $('.bottom-bar').unwrap();
    $('.overlay2').unwrap();
  });

  // PACKAGE 클릭 이벤트
  function packagebar_click(){
    $(document).ready(function () {
      $('.overlay2').on('click', function () {
          // hide sidebar
          $('#packageBar').removeClass("open");
          $('#packageBarCollapse').removeClass("font-weight-bold");
          $('.pay-link').removeAttr("href");
          // hide overlay
          $('.overlay2').removeClass('active');
      });
        // open sidebar
        $('#packageBar').addClass("open");
        $('#packageBarCollapse').addClass("font-weight-bold");
        // fade in the overlay
        $('.overlay2').addClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
  }

  function sharebar_click(){
    $(document).ready(function () {
      $('.overlay2').on('click', function () {
          // hide sidebar
          $('#shareBar').removeClass("open");
          // hide overlay
          $('.overlay2').removeClass('active');
      });
        // open sidebar
        $('#shareBar').addClass("open");
        // fade in the overlay
        $('.overlay2').addClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
  }

  // 깜빡깜빡
  // 결제하기로 넘어가기
  // $(document).ready(function(){
  //   if ($('.pay-link').hasClass("font-weight-bold")){
  //       var pid = $('.border-red')[0].id;
  //     $('.pay-link').attr("href","/product_order/new?product_id=<%#= @product.id %>&package_id="+pid);
  //   }
  // });
</script>
