<nav id="packageBar" class="bg-white visible-xs">
  <div class="dismiss">
    <h4 class="font-14 font-weight-bold text-center my-3 package-title">패키지 선택하기</h4>
    <div class="package-row scrolling-wrapper">
      <% @product.packages.each do |package|%>
       <div class="card bg-white">
          <%=image_tag(@cdn_url + package.image0.path , class: "package-img d-block mx-auto", id: package.id) if package.image0.path != nil%>
        <div class="card-body text-center py-1 font-14">
          <p class="font-red mb-1">\<%= package.price %></p>
          <h5 class="text-black font-weight-bold mb-1 font-14" lang="en"><%= package.name %></h5>
          <pre class="font-12 mb-2"><%= package.content.gsub("\r\n", "<br />").html_safe %></pre>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>

<script type='text/javascript'>
  $(document).ready(function () {
    $('.package-row').not('.slick-initialized').slick({
    infinite: false,
    speed: 300,
    slidesToShow: 8,
    slidesToScroll: 1,
    focusOnSelect: true,
    arrows: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          slidesToShow: 5
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          slidesToShow: 4
        }
      },
      {
        breakpoint: 330,
        settings: {
          arrows: false,
          slidesToShow: 3
        }
      }
    ]
    });


    // 패키지 선택 function
    $('.package-img').click(function(){
        if ($(this).hasClass("border-red")){
          $(this).removeClass("border-red");
        }
        else{
          for(let i=0;i<$('.package-img').length;i++){
            $('.package-img').removeClass('border-red');
          }
          $(this).addClass("border-red");
        }
        var pid = $('.border-red')[0].id;
        $('.pay-link').attr("href","/product_order/new?product_id=<%= @product.id %>&package_id="+pid);
        setInterval("doBlink()",400);
    });

    // $('.packageBar').unwrap();
  });

  function doBlink(){
    $('.pay-link').toggleClass("hidden0");
  }
</script>
