<div class="pro-info-xs visible-xs">
  <h4 class="font-18 font-weight-bold"><%= @product.name %></h4>
  <p class="font-14"><%= @product.subname %></p>
  <div class="d-flex font-16 font-weight-bold justify-content-between">
    <span><%= @product.funded_money %>원</span>
    <span class="font-red"><%= @product.funded_money / @product.goal_money %> %</span>
    <span>광고 펀딩 <%= -1*(( Time.now - @product.end_date) / 1.days).to_i %>일 남음</span>
  </div>
</div>

<div class="d-flex visible-lg py-3 pro-info-wrapper">
  <%=  image_tag(@cdn_url + @product.image0.path, class: "pro-img visible-lg") %>
  <div class="pro-info">
    <div class="product-title">
      <h4 class="font-24 font-weight-bold"><%= @product.name %></h4>
      <p class="font-18"><%= @product.subname %></p>
    </div>
    <div class="pro-money d-flex font-18 font-weight-bold justify-content-between">
      <span><%= @product.funded_money %>원</span>
      <span class="font-red"><%= @product.funded_money / @product.goal_money %> %</span>
      <span>광고 펀딩 <%= -1*(( Time.now - @product.end_date) / 1.days).to_i %>일 남음</span>
    </div>

    <div class="dropdown my-3 w-100">
    <button type="button" id="packageButton" class="btn btn-white text-left dropdown-toggle d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%=image_tag("shirt.png", class: "package-item mx-3 my-3")%>
        <div class="package-info my-auto">
          <span>패키지 선택하기</span>
        </div>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </button>

    <ul class="dropdown-menu w-100">
      <li class="d-flex" onclick="packageDropdown(this);">
        <%=image_tag("shirt.png", class: "package-item mx-3 my-3")%>
          <div class="package-info my-auto">
            <p class="mb-0 font-red font-weight-bold">\0</p>
            <p class="mb-0 font-weight-bold">PACKAGE A</p>
            <p class="mb-0">A+ 스티커, 핸드폰케이스</p>
          </div>
      </li>
      <li class="d-flex" onclick="packageDropdown(this);">
        <%=image_tag("shirt.png", class: "package-item mx-3 my-3")%>
          <div class="package-info my-auto">
            <p class="mb-0 font-red font-weight-bold">\0</p>
            <p class="mb-0 font-weight-bold">PACKAGE A</p>
            <p class="mb-0">A+ 스티커, 핸드폰케이스</p>
          </div>
      </li>
      <li class="d-flex" onclick="packageDropdown(this);">
        <%=image_tag("shirt.png", class: "package-item mx-3 my-3")%>
          <div class="package-info my-auto">
            <p class="mb-0 font-red font-weight-bold">\0</p>
            <p class="mb-0 font-weight-bold">PACKAGE A</p>
            <p class="mb-0">A+ 스티커, 핸드폰케이스</p>
          </div>
      </li>

    </ul>
  </div>
    <div class="buttons">
      <div class="d-flex">
      <button class="share-button">공유하기</button>
      <button class="share-button">♡ 찜하기</button>
      </div>
      <button class="buy-button-lg mt-3">내 인생으로 배송받기</button>
    </div>
  </div>
</div>

<script>
  function packageDropdown(item){
    $(document).ready(function(){
      var x = $(item).html();
      $('#packageButton').html(x);

    });
  }
</script>
