<div class="pro-info-xs visible-xs">
  <h4 class="font-18 font-weight-bold"><%= @product.name %></h4>
  <p class="font-14"><%= @product.subname %></p>
  <div class="d-flex font-16 font-weight-bold justify-content-between">
    <span class="funding-money"><%= @product.funded_money %>원</span>
    <span class="font-red"><%= @product.funded_money / @product.goal_money %> %</span>
    <span>광고 펀딩 <%= -1*(( Time.now - @product.end_date) / 1.days).to_i %>일 남음</span>
  </div>
</div>

<div class="d-flex visible-lg py-3 pro-info-wrapper">
  <%=  image_tag(@cdn_url + @product.image0.path, class: "pro-img visible-lg") %>
  <div class="pro-info">
    <div class="product-title">
      <h4 class="font-24 font-weight-bold"><%= @product.name %></h4>
      <p class="font-18"><%= @product.subname %></p>
    </div>
    <div class="pro-money d-flex font-18 font-weight-bold justify-content-between">
      <span class="funding-money"><%= @product.funded_money %>원</span>
      <span class="font-red"><%= @product.funded_money / @product.goal_money %> %</span>
      <span>광고 펀딩 <%= -1*(( Time.now - @product.end_date) / 1.days).to_i %>일 남음</span>
    </div>

    <div class="dropdown my-3 w-100">
      <button type="button" id="packageButton" class="btn btn-white text-left dropdown-toggle d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=image_tag("shirt.png", class: "package-item mx-3 my-3")%>
          <div class="package-info my-auto">
            <span>패키지 선택하기</span>
          </div>
          <span class="glyphicon glyphicon-chevron-down"></span>
      </button>

      <ul class="dropdown-menu w-100 py-0" style="transform: translate3d(0px, 126px, 0px) !important; ">
        <% @product.packages.each do |package|%>
        <li class="d-flex package-box" onclick="packageDropdown(this);">
          <%=image_tag(@cdn_url + package.image0.path, class: "package-item mx-3 my-3") if package.image0.path != nil%>
            <div class="package-info my-auto">
              <p class="mb-0 font-red font-weight-bold">\<%= package.price %></p>
              <p class="mb-0 font-weight-bold"><%= package.name %></p>
              <p class="mb-0"><%= package.content.gsub("\r\n", "<br />").html_safe %></p>
            </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="buttons">
      <div class="d-flex">
        <div class="dropdown-share">
          <button class="share-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">공유하기</button>
          <ul class="dropdown-menu" id="shareDropdown">
            <li class="d-block">
              <a id="kakao-link-btn" href="javascript:;">
              <%=image_tag("kakao.svg", class: "kakao_icon d-block mx-auto my-3") %>
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.base_url + request.original_fullpath %>&amp;src=sdkpreparse">
                <%=image_tag("fb.svg", class: "d-block mx-auto mb-3")%></a>
            </li>
          </ul>
        </div>
        <div class="dropdown-share">
          <button class="share-button heart"><i class="far fa-heart"></i> 찜하기</button>
        </div>
      </div>
      <button class="buy-button-lg mt-3">내 인생으로 배송받기</button>
    </div>
  </div>
</div>

<script>
  function packageDropdown(item){
    $(document).ready(function(){
      var x = $(item).html();
      $('#packageButton').html(x);

    });
  }

    $(document).ready(function () {
          $('.dropdown-menu').dropdown();
      });

  $(document).ready(function(){
    var x = $('.dropdown-share').width();
    $('#shareDropdown').width(x);
  });

  // 원화 콤마
  $(document).ready(function(){
      money = $('.funding-money').html();
      if (money !== "0원"){
        money = money.substring(0,money.length-1)
        money = Number(money);
        money = money.toLocaleString();
        money = money+"원";
        $('.funding-money').html(money);
      }
  });
</script>
