<% cache @product do %>
<div class="tab-pane fade px-4 py-5" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
  <h4 class="text-center font-16 mb-4"><span class="petit-num"><%=@maker_responses.sum(&:send_count)%> </span>청원</h4>
  <div class="ovals d-flex justify-content-center font-weight-bold mb-lg-4 font-10">
    <div class="oval cons"></div>
    <p class="mr-3">반대</p>
    <div class="oval pros"></div>
    <p class="mr-3">찬성</p>
    <div class="oval no_respond"></div>
    <p class="mr-3">미응답</p>
    <div class="oval neutral"></div>
    <p>중립응답</p>
  </div>
  <!-- 의원 사진 -->
  <div class="maker_cards container px-0">
    <div class="row mx-0">
      <% @maker_responses.each do |maker_response|%>
      <div class="col-4 col-md-2 maker_card text-white font-weight-bold" style="background-image: url(<%= maker_response.maker.image0 %>);">
        <a href="/maker/<%= maker_response.id %>" class="d-block text-white h-100">
          <% if maker_response.response_type == '무응답'%>
          <div class="maker_card_info text-center font-10" style="background-color: rgba(184, 155, 117, 0.6);">
          <% elsif maker_response.response_type == '반대'%>
          <div class="maker_card_info text-center font-10" style="background-color: rgba(148, 54, 66, 0.6);">
          <% elsif maker_response.response_type == '찬성'%>
          <div class="maker_card_info text-center font-10" style="background-color: rgba(106, 150, 141, 0.6);">
          <%else%>
          <div class="maker_card_info text-center font-10" style="background-color: rgba(106, 51, 80, 0.6);">
          <%end%>
            <p class="mt-2 mt-lg-0 mb-0 "><%= maker_response.maker.name %></p>
            <p class="mb-2">(<%= maker_response.maker.desc2.gsub('\n','') %>)</p>
          </div>
        </a>
      </div>
      <%end%>
    </div>
  </div>
  <!-- // 의원 사진 -->
  <pre class="font-12 mt-3">내 인생으로 배송받기를 누르시면,
심사를 담당하는 의원에게 이메일 청원이 보내집니다.
의원실의 자세한 입장을 보고싶다면 사진을 눌러주세요.</pre>

  <div class="banner-text mt-5 mb-3">
    <hr class="mb-4 banner-line ml-0">
    <pre class="font-22 font-weight-bold">
투정을 통해
놀라운 변화들이
일어나고 있습니다.</pre>
    <hr class="mt-4 banner-line ml-0">
  </div>

  <div class="time-row">
      <% @product.product_timelines.each do |timeline| %>
        <div class="time-post mb-4">
            <p class="date font-18 mb-0"><%= timeline.name.gsub("\r\n", "<br />").gsub("\n", "<br />").html_safe %></p>
            <pre class="font-18 text-right"><%= timeline.issued_at.year%>.<%= timeline.issued_at.month%>.<%= timeline.issued_at.day%></pre>
            <img src="<%= timeline.image0%>">
        </div>
    <% end %>
  </div>

</div>


<script>
  function cardHeight() {
    $(document).ready(function () {

        var x = $('.maker_card').width();
        $('.maker_card').css({'height':(x*1.35)+'px'});
    });
  }
</script>
<% end %>
