<a href="/product/edit/<%= @product.id %>"> 상품 기본 정보 수정 하러 가기 </a>
( ** 생성할때의 항목과 같음. ( 이미지, 펀딩기간 제외 ) ** ) <br>
<hr><hr><hr>
<% if @product.visible == true or @product.visible == 1%>
  <a href="/product/visible/<%= @product.id %>"> 상품 공개 하기</a>
  <br>(*** 이 링크를 클릭하면 상품이 공개됩니다. ****) <br>
<% else %>
<a href="/product/visible/<%= @product.id %>"> 상품 비공개 하기</a>
  <br>(*** 이 링크를 클릭하면 상품이 비공개됩니다. ****) <br>
<% end %>
<hr><hr><hr>
<div style="background-color: #DADADA">
  메인 이미지:
  <img src="<%= @product.image0 %>" style="width: 300px; height: 300px;">
  <br><a href="/product/image0/<%= @product.id %>"> 메인 이미지 수정하러 가기 </a>
</div><hr>

<div style="background-color: cornflowerblue">
  제목: <strong> <%= @product.name %></strong> <br>

  부제목: <strong><%= @product.subname %></strong><br>

  현재 펀딩 금액: <strong> <%= @product.funded_money %></strong><br>

  펀딩률: <strong> <%= @product.funded_money / @product.goal_money %> % </strong><br>

  펀딩 남은 시간 (일): <%= (( Time.now - @product.end_date) / 1.days).to_i.abs%> <br>
</div>

<div style="background-color: bisque">
  <p> ** 유튜브 플레이어 붙이면 영상 썸네일도 자동으로 보일수있을듯 ㄱ ㄱ ㄱ**</p>
  유튜브 링크 주소: <%= @product.youtb_url %> <br>
  영상 설명: <%= simple_format(@product.video_text) %> <br>
  <a href="<%=  @product.bill_url %>"> 법안 원문 보러가기 링크 </a><br>
</div>

<div style="background-color: teal">
  좋아요 기능 / 공유 기능 적용 예정
</div>

<div style="background-color: lightgrey;">
  투정에서 인생 법안 배송 받기 배너 <br>
  이건 static 하게 이미지 넣읍시다
</div>

<div style="background-color: mediumseagreen">
  제품 선택 부분 구현중
</div>

<div style="background-color: cyan">
  패키지 정리 이미지 부분 <br>
  <% if @product.image1.url == nil %>
      아직 이미지가 없습니다.
  <% else %>
      <img src="<%= @product.image1 %>">
  <% end %>
  <br>
  <a href="/product/image1/<%= @product.id.to_s %>"> 패키지 정리 이미지 생성/수정 페이지로 이동 </a>
</div>

<div style="background-color: chartreuse">
  법안 광고 캠페인은 어디에?
  <br><br>
  광고 펀딩 기간 내
  <br>
  ~~~~<br>
</div>

<div style="background-color: deepskyblue">
  추가 펀딩 기간<br><br>
  법안 페이스북 광고 <br>
  서버유지비 <br>
</div>

<div style="background-color: #B00100">
  이메일 청원 클릭 부분 <br>구현중 <br>
</div>

<div style="background-color: greenyellow;">
  <a href="<%= @product.fb_url %>"> 페이스북 그룹 링크로 이동</a> <br>
</div>

<div style="background-color: darkgrey">
  타임라인 구현중
</div>
