<div class="wrapper">
  <%=render 'product_img'%>
  <%=render 'product_info'%>
  <%=render 'navbar'%>
</div>
<%=render 'bottom_bar'%>

<a href="/product/edit/<%= @product.id %>"> 상품 기본 정보 수정 하러 가기 </a>
( ** 생성할때의 항목과 같음. ( 이미지, 펀딩기간 제외 ) ** ) <br>
<hr><hr><hr>
<% if @product.visible == false or @product.visible == 0%>
  <a href="/product/visible/<%= @product.id %>"> 상품 공개 하기</a>
  <br>(*** 이 링크를 클릭하면 상품이 공개됩니다. ****) <br>
<% else %>
<a href="/product/visible/<%= @product.id %>"> 상품 비공개 하기</a>
  <br>(*** 이 링크를 클릭하면 상품이 비공개됩니다. ****) <br>
<% end %>
<hr><hr><hr>

<a href="/product/<%= @product.id %>/new_option"> **제품 추가 하기 </a>

<div style="background-color: #DADADA">
  <br><a href="/product/image0/<%= @product.id %>"> **메인 이미지 수정하러 가기 </a>
</div><hr>

<!-- 페이스북 공유하기/좋아요 기능 -->
<div style="background-color: teal">
  <iframe src="https://www.facebook.com/plugins/like.php?href=https://ren.2jung.com/product/ready/<%=@product.id %>&width=186&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=1014670008686658" width="186" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>

<div style="background-color: cyan">
  <br>
  <a href="/product/image1/<%= @product.id.to_s %>"> 패키지 정리 이미지 생성/수정 페이지로 이동 </a>
</div>

<div style="background-color: #B00100">
  이메일 청원 클릭 부분 <br>구현중 <br>
</div>

<div style="background-color: darkgrey">
  타임라인 구현중
</div>
