<div class="wrapper">
  <%=render 'product_img'%>
  <%=render 'product_info'%>
  <%=render 'navbar'%>
</div>
<%=render 'bottom_bar'%>

<a href="/product/<%= @product.id %>/edit"> 상품 정보 수정 하러 가기 </a>
<hr><hr><hr>
<%= form_tag "/product/#{ @product.id }", method: "patch" do %>
  <%= hidden_field_tag 'visible', !@product.visible  %>
  <% ment = "비" if @product.visible else ""%>
  <%= submit_tag "상품 #{ment}공개 하기"%>
<% end %>

<hr><hr><hr>

<a href="/product_option/new?product_id=<%= @product.id %>"> **제품 추가 하기 </a><hr>
<a href="/package/new?product_id=<%= @product.id %>">**패키지 추가하기 </a>

<div style="background-color: greenyellow">
<% @product.packages.each do |package| %>
    <hr>
    패키지 이름: <%= package.name %><br>
    패키지 속 상품 현황: <% package.product_options.each do |product_option| %>  <%= product_option.name %>, <% end %><br>
    <a href="/package/<%= package.id %>/"> **패키지의 상품 구성 수정 페이지로 이동하기**</a><br>
    <a href="/package/<%= package.id %>/edit">**패키지의 기본정보 수정 페이지로 이동하기 ( 이름, 내용, 가격, 패키지메인이미지 )** </a>
<% end %>
</div>

<div style="background-color: #B00100">
  이메일 청원 클릭 부분 <br>구현중 <br>
  <% @makers.each do |maker|%>
    <hr>
     <img src="<%= maker.image0 %>">
     의원이름: <%= maker.name %>
    <br> 의원 정당: <%= maker.desc2 %>
  <% end %>
</div>

<div style="background-color: darkgrey">
  타임라인 구현중
</div>
