<h1> "법안 상품" 수정 페이지! </h1>

<%= form_tag '/product/'+@product.id.to_s, method: "patch", multipart: true do %>

  상품 제목 <%= text_field_tag 'name', @product.name , placeholder: '상품 제목', :required => true %>
  <hr>
  상품 부제목 <%= text_field_tag 'subname', @product.subname, placeholder: '상품 부제목' %>
  <hr>
  유튜브 영상 주소:
  <%= text_field_tag 'youtb_url', @product.youtb_url, placeholder: '유튜브 영상 주소' %>
  <hr>
  유튜브 영상 설명:
  <%= text_area_tag 'video_text', @product.video_text, placeholder: '영상 설명 적는 칸. 줄바꿈 먹힘', rows: 30, cols: 40, contenteditable: true%>
  <hr>
  삼임위원회 이름
  <%= text_field_tag 'assos', @product.assos, placeholder: '상임위원회 이름' %>
  <hr>
  <%= text_field_tag 'category', @product.category, placeholder: '카테고리 이름. ex) 인권', :required => true, autocomplete: 'off' %>
  <hr>
  페이스북 그룹 주소
  <%= text_field_tag 'fb_url', @product.fb_url, placeholder: '페이스북 그룹 주소' %>
  <hr>
  목표 금액
  <%= text_field_tag 'goal_money', @product.goal_money, placeholder: '펀딩 목표 금액'%>
  <hr>
  법안 원문 보러가기 링크:
  <%= text_field_tag 'bill_url', @product.bill_url, placeholder: '법안 주소' %>

  <hr>
   기존 메인 이미지:
  <img src="<%= @product.image0 %>" style="width: 300px; height: 300px;">
  <hr>
  메인 이미지 수정하기 : <%= file_field_tag 'image0' %>

  <hr>
  기존 패키지 정리 이미지:
  <img src="<%= @product.image1 %>" style="width: 300px; height: 300px;">
  <hr>

  기존 패키지 정리 이미지 수정하기 : <%= file_field_tag 'image1' %>

  <%= text_field_tag 'bill_id', @product.bill_id , placeholder: '법안 번호', :required => true, autocomplete: 'off'%>
  <br>
  <%= text_field_tag 'bill_name', @product.bill_name, placeholder: '법안 이름', :required => true, autocomplete: 'off'%>

  <hr><%= submit_tag '수정 완료' %>
<% end %>
