<!-- Propose Cover -->
<section class="propose_cover">
  <h2 class="sr-only">제안 수정하기!!! </h2>
  <p class="propose_text text-white mb-2 font-sm-12">겪고 있는 문제가 있나요?</p>
  <p class="propose_text text-white mb-2 font-sm-12">지금 바로, 투정부려보세요!</p><br/>
  <p class="propose_text text-white mb-2 font-sm-12">당신의 투정,</p>
  <p class="propose_text text-white mb-2 font-sm-12">투정이 국회로 직접 배송해드립니다.</p>
</section>
<!-- //Propose Cover -->
<!-- Propose Form -->
<form class="propose_form w-100 font-sm-10" enctype="multipart/form-data" action="/propose/<%= @propose.id %>" accept-charset="UTF-8" method="post">
	<input type="hidden" name="_method" value="patch" />
    <h2 class="sr-only">제안폼 작성</h2>
    <input name="utf8" type="hidden" value="&#x2713;">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
  법안 번호: <%= text_field_tag 'bill_id', @propose.bill_id, class: 'form-control font-sm-10' %>
  <br>법안 이름: <%= text_field_tag 'bill_name', @propose.bill_name, class: 'form-control font-sm-10' %>
  <div class="form-group">
투정 제목:
      <input type="text" value="<%= @propose.title %>" class="form-control font-sm-10" id="propose_title" name="propose_title" placeholder="20자 이내로 바라는 점을 이야기해주세요.">
    </div>
    <div class="form-group">
      상임위:
      <input type="text" value="<%= @propose.assos %>" class="form-control font-sm-10" id="assos" name="assos" placeholder="상임위 이름 적으세요.">
    </div>
    <div>

    </div>
    <div class="form-group">
투정내용:
      <%= text_area_tag 'propose_content', @propose.content, class: 'form-control font-sm-10', rows: 10 %>
    </div>

    <label for="inputGroupFile02">대표 사진 업로드</label><br/>
        <input type="file" value="<%= @propose.image %>" id="propose_image" onchange="filename_change(this)" name="propose_image" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
<hr>
  <!-- //Propose Form -->
  <!-- Propose Funding -->
굿즈사진 업로드:      <input type="file" value="<%= @propose.goods %>" id="goods" onchange="filename_change(this)" name="goods" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
<hr>
캠페인 사진 업로드:
  <input type="file" value="<%= @propose.campaign %>" id="campaign" onchange="filename_change(this)" name="campaign" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
<br />
    <label for="exampleFormControlTextarea1">캠페인 내용</label>
    <%= text_area_tag 'campaign_content', @propose.campaign_content, class: 'form-control font-sm-10', rows: 10 %>
    <label for="exampleFormControlInput1">법안 원문 링크</label>
    <input type="text" value="<%= @propose.bill_link %>" class="form-control font-sm-10" id="propose_title" name="bill_link" placeholder="20자 이내로 바라는 점을 이야기해주세요.">

    <label for="exampleFormControlInput1">텀블벅 링크</label>
    <input type="text" value="<%= @propose.tumb %>" class="form-control font-sm-10" id="propose_title" name="tumb" placeholder="20자 이내로 바라는 점을 이야기해주세요.">

    <input type="submit" class="btn btn-primary" name="commit" value="투정하기">
  <!-- //Propose Notice -->
</form>

<script>
    function filename_change(obj) {
        var file_name = obj.files[0].name;
        document.getElementById('image_label').innerHTML = file_name;
    }
</script>
