<!-- Funding Detail Cover Desktop-->
<section class="funding_detail_cover d-flex flex-column justify-content-between align-items-center visible-lg"
style="background-image: url(<%= @propose.image %>);">
  <div class="brand pl-4 pt-4 visible-lg">
    <a class="navbar-brand py-0 mr-0" href="/">
      <%=image_tag("/assets/images/tojung_white.png", class:"logo")%>
    </a>
  </div>
  <div class="detail_post">
    <h2 class="detail_title text-white font-20 font-sm-18 font-weight-bold pb-lg-3"><%= @propose.title %></h2>
    <p class="detail_category text-white font-sm-12 font-weight-bold text-center"></p>
  </div>
  <div class="detail_info w-100">
    <p class="text-white font-20 font-sm-16 font-weight-bold text-center">\<%=@propose.funded_money%></p>
    <p class="text-white font-20 font-sm-16 font-weight-bold detail_num"><%=@propose.funded_num + @propose.send_count + @propose.subscribe_count%><span>명</span></p>
  </div>
</section>
<!-- //Funding Detail Cover Desktop-->

<!-- Funding Detail Cover Mobile -->
<section class="detail_mobile_cover visible-xs-block" style="background-image: url(<%= @propose.image %>);">
  <h2 class="detail_title font-sm-18 font-weight-bold text-white px-3 py-3"><%= @propose.title %></h2>
  <div class="detail_infos pt-4">
    <p class="detail_number text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%=@propose.funded_num%></span>명</p>
    <div class="d-flex justify-content-between">
      <p class="detail_category font-weight-bold text-white font-10 pl-3 mt-2 mb-0"></p>
      <p class="detail_money font-weight-bold text-white font-18 pr-3 mb-0">&#8361;<%=@propose.funded_money%></p>
    </div>
  </div>
</section>
<!-- //Funding Detail Cover Mobile -->
<!-- Subscribe -->
<section class="subscribe text-center">
  <h4 class="sr-only">구독하기</h4>
  <p class="font-18 font-grey font-sm-10 font-weight-bold mt-4 mb-0 mt-md-5 mb-md-0">원하는 정보만 입력해주세요.</p>
  <p class="font-18 font-grey font-sm-10 font-weight-bold mb-md-5">해당 입법안의 진행상황, 의원 응답 현황등을 보내드립니다.</p>
  <form class="subscribe_form" action="/propose/<%= params[:id] %>/subscribe" accept-charset="UTF-8" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="이메일 주소">
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" name="phone" placeholder="핸드폰 번호">
    </div>
    <button type="submit" class="btn btn-subscribe btn-white font-sm-12" onclick="subscribe();">구독하기</button>
  </form>
</section>
<!-- //Subscribe -->
<!-- <form class="subscribe_form" action="/propose/<%= params[:id] %>/subscribe" accept-charset="UTF-8" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
  <input type="email" class="form-control" name="email" placeholder="내 이메일 주소">
  <input type="text" class="form-control" name="phone" placeholder="내 전화번호">
  <input type="submit">
</form> -->
<script>
  $('.funding_detail_cover').wrap('<a class="d-block underbar-none text-white" href="/propose/<%=@propose.id%>"></a>');
  $('.detail_mobile_cover').wrap('<a class="d-block underbar-none text-white" href="/propose/<%=@propose.id%>"></a>');
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
function subscribe_check() {
	swal({
    title: "투정팬이 되셨군요~!",
    text: "투정을 구독해주셔서 감사합니다",
    icon: "success",
    button: false,
    timer: 3000,
  });
}
</script>
