<!-- Header -->
<header class="header fixed-top">
  <nav class="navbar navbar-light height-inherit">
    <h4 class="brand"><a class="navbar-brand" href="/"><%=image_tag("logo.png", class: "logo")%></a></h4>
    <div class="nav-right">
      <a class="navbar-brand mr-1" href="#"><%=image_tag(@cdn_url+"search.png", class: "icon_search")%></a>
      <button class="button-none bg-base" type="button" id="sidebarCollapse" onclick="sidebar_click();">
          <%=image_tag(@cdn_url+"bars.svg", class: "icon_bars bg-base")%>
      </button>
    </div>
  </nav>
  <!-- Sidebar -->
  <nav id="sidebar">
    <div id="dismiss" class="bg-white">
      <button id="dismiss-button" class="button-none bg-white" type="button"><%=image_tag(@cdn_url+"exit.svg", class: "bg-white", id: "exit-button")%></button>
    </div>
    <pre class="sign-status bg-white text-right mb-2">
<%if user_signed_in?%>
<a class="font-grey" href="/users/sign_out">로그아웃</a>
<%else%>
현재 로그아웃 상태입니다.
로그인을 하시면 더 많은 정보를 볼 수 있습니다.
<a class="font-grey" href="/users/sign_in">로그인</a> / <a class="font-grey" href="/users/sign_up">회원가입</a>
<%end%></pre>
    <div class="container-fluid sidebar_cate">
      <div class="row">
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/1">
              <%=image_tag(@cdn_url+"hot@3x.png", class: "category-icon")%>
              <p class="category-title" lang="en">HOT</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/1">
              <%=image_tag(@cdn_url+"new@3x.png", class: "category-icon")%>
              <p class="category-title" lang="en">NEW</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/1">
              <%=image_tag(@cdn_url+"woman@3x.png", class: "category-icon")%>
              <p class="category-title">인권/성평등</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/2">
              <%=image_tag(@cdn_url+"dog@3x.png", class: "category-icon")%>
              <p class="category-title">동물</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/3">
              <%=image_tag(@cdn_url+"army@3x.png", class: "category-icon")%>
              <p class="category-title mb-0">통일/국방</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/4">
              <%=image_tag(@cdn_url+"health@3x.png", class: "category-icon")%>
              <p class="category-title mb-0">보건/복지</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/5">
              <%=image_tag(@cdn_url+"environment@3x.png", class: "category-icon")%>
              <p class="category-title mb-0">안전/환경</p>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="sidebar-category bg-white text-center">
            <a class="d-block h-100" href="/side_cate/6">
              <%=image_tag(@cdn_url+"book@3x.png", class: "category-icon")%>
              <p class="category-title mb-0">육아교육</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-menus" lang="en">
      <a href="/" class="sidebar-menu">HOME</a>
      <a href="/home/brand" class="sidebar-menu">BRAND</a>
      <a href="/home/mypage" class="sidebar-menu">MY PAGE</a>
      <a href="" class="sidebar-menu">BILL DATA FOR PROFESSION </a>
    </div>
    <div class="sidebar-sns" lang="en">
      <a href="https://www.facebook.com/2jungcom" class="sidebar-menu">FACEBOOK</a>
      <a href="" class="sidebar-menu">YOUTUBE</a>
      <a href="https://www.instagram.com/tojung.official/" class="sidebar-menu">INSTAGRAM</a>
    </div>
  </nav>
  <!-- Sidebar -->
</header>
<div class="overlay"></div>

<!-- //Header -->
