<!DOCTYPE html>
<html manifest="/manifest.appcache">
  <head>
    <title>내 삶을 바꾸는 입법안 쇼핑몰, 투정</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="naver-site-verification" content="9156159b4d21b4babe22d4fa97c06964f454f166"/>
    <meta name="description" content="투정, 국회 입법 크라우드펀딩 서비스">
    <%= csrf_meta_tags %>
    <% if @product != nil %>
        <meta property="og:title" content="<%= @product.name %>"/>
        <meta property="og:description"   content="<%= @product.subname%>" /> <!-- 상품마다 description 다르게 하기 -->
        <meta property="og:image" content="<%= @product.image0 %>" />
    <% end %>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://tojung.me/<%= request.fullpath %>"/>
    <meta property="fb:app_id" content="1014670008686658" />
    <meta name="turbolinks-cache-control" content="no-cache">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" async="async" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114503665-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114503665-1');
    </script>

  </head>

  <body>
    <!-- Notice , Alert -->
    <% if notice %>
      <div id="notice_wrapper">
        <p class="notice px-0 py-0 mb-0"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper" class="red-alert">
        <p class="alert px-0 py-0 mb-0"><%= alert %></p>
      </div>
    <% end %>
    <!-- // Notice , Alert -->

    <%=render 'layouts/header'%>

    <div class="wrapper loaded">
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>
    
    <div class='loading-background'>
      <div class='loading-indicator'>
      </div>
    </div>
    <!-- Slick Slider -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script> 
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice_wrapper').addClass('fadeout');
        }, 2000);
      });
    </script>
  </body>
</html>
